
<!DOCTYPE html>
{% load static %}  
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Paarijaatham</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ><a href="#">Bill Page</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'home_page'%}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="{% url 'exit_page'%}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<h3> Bill Details </h3>

  

  
  
<div>
  <img src="{{MEDIA_URL}}/{{img}}" height=500 width=350 style="float : left "alt="Product Image" />
  
  
  <br>  
  
  <form action="" method ="post" enctype="multipart/form-data">
  
  {% csrf_token %}
  
  {{ form.as_p }}
    
  {% if Error %}
    <p> Error : {{Error}}</p>
  {% endif %}  
<input type="submit" , value="Bill it">    
</form>  
</div>
</body>
</html>
